p Welcome to mommy business. The place to get and share information on being a new mommy (or daddy). If you are new to the site, please register using the link above. If you are already a member, welcome back! Please login to begin sharing, swapping, and searching.
