#appt.modal.fade(tabindex='-1', role='dialog', aria-labelledby='apptLabel', aria-hidden='true')
  form(novalidate, name='apptsForm', role='form', ng-show='showAppts')
    .modal-dialog
      .modal-content
      .modal-header
        button.close(type='button', data-dismiss='modal', aria-hidden='true') x
        h4.modal-title Add an Appointment
      .modal-body
          .form-group
            label(for='adate') Date
            input.form-control#adate(name='adate', type='date', ng-model='appt.adate', autofocus)
          .form-group
            label(for='time') Time
            input.form-control#time(name='time', type='time', ng-model='appt.time', autofocus)
          .form-group
            label(for='drname') Doctor
            input.form-control#drname(type='text', name='drname', ng-model='appt.drname')
        .modal-footer
          button.btn#update(ng-click='addAppts()', data-dismiss='modal') Add Appointment
