div.panel{
  font-size: 15px;
  background-color: rgba(255,255,255,.3);
}
button#growth.btn{
  background-color: dimgray;
  color: white;
}
//MODALS
div.modal-body{
  background-color: rgba(255,255,255,.8);
  font-size: 15px;
  width: 80%;
  box-shadow: 10px 10px 20px 0px rgba(0,0,0,0.64);

}
div.modal-header{
  background-color: white;
  width: 80%;
  box-shadow: 10px 10px 20px 0px rgba(0,0,0,0.64);
}
  //growth modal
#inches{
  color: black;
  width: 75%;
}
#feet{
  color: black;
  width: 75%;
}
#pounds{
  color: black;
  width: 75%;
}
#ounces{
  color: black;
  width: 75%;
}
#head{
  color: black;
  width: 45%;
}
#date{
  color: black;
  width: 75%;
}
