div.panel{
  font-size: 15px;
  background-color: rgba(255,255,255,.3);
}
button#growth.btn{
  background-color: dimgray;
  color: white;
}
//MODALS
div.modal-body{
  background-color: rgba(255,255,255,.8);
  font-size: 15px;
  width: 100%;
  box-shadow: 10px 10px 20px 0px rgba(0,0,0,0.64);

}
div.modal-header{
  background-color: white;
  width: 100%;
  box-shadow: 10px 10px 20px 0px rgba(0,0,0,0.64);
}
  //growth modal
#inches{
  width: 75%;
}
#feet{
  width: 75%;
}
#pounds{
  width: 75%;
}
#ounces{
  width: 75%;
}
#head{
  width: 45%;
}
#date{
  width: 75%;
}
  //milestone modal
#mdate{
  width: 50%;
}
#milestone{
  width: 75%;
}
